<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        {% block title %}
        <title>{{ SITENAME }}</title>
        {% endblock title %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL|format(category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM|format(category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL|format(category.slug) }}{% else %}{{ CATEGORY_FEED_RSS|format(category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL|format(tag.slug) }}{% else %}{{ TAG_FEED_ATOM|format(tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL|format(tag.slug) }}{% else %}{{ TAG_FEED_RSS|format(tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        <!-- twitter card metadata -->
        {% block twittercard %}
        {% endblock twittercard %}
        <!-- OG Tags -->
        {% block ogtags %}
        {% endblock ogtags %}
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/static/icons/favicon-16x16.png">
        <link rel="manifest" href="{{ SITEURL }}/site.webmanifest">
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/main.css" />
		<link href="{{ SITEURL }}/theme/css/icons.css" rel="stylesheet">
        <!-- menu toggle javascript -->
        <script>
            document.addEventListener("DOMContentLoaded", initMenu);

            function initMenu(){
                var menu = document.getElementById("menu");
                var menulink = document.getElementById("menu-link");
                menulink.addEventListener("click", function toggleMenu(){
                        menulink.classList.toggle('active');
                        menu.classList.toggle('active');              
                    });
            };
        </script>
        {% endblock head %}
</head>
<body>
    {% block header %}
    <div role="banner" id="masthead">
        <header>
            <a href="#menu" id="menu-link">menu</a>
            <nav id="menu">
                <ul>
                    {% for title, link in MENUITEMS %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
    </div>
    {% endblock header %}
        <div class="page" role="main">
            {% block content %}
            {% endblock content %}
            {% block footer %}
                <footer>
                    <div class="icons">
                        {% if TWITTER %}
                        <a href="{{ TWITTER }}" target="_blank"><div class="icon-twitter icon"></div></a>
                        {% endif %}
                        {% if GITLAB %}
                        <a href="{{ GITLAB }}" target="_blank"><div class="icon-gitlab icon"></div></a>
                        {% endif %}
                        {% if GITHUB %}
                        <a href="{{ GITHUB }}" target="_blank"><div class="icon-github icon"></div></a>
                        {% endif %}
                        <br />
                        {% if KEYBASE %}
                        <a href="{{ KEYBASE }}" target="_blank"><div class="icon-keybase icon"></div></a>
                        {% endif %}
                        {% if MASTODON %}
                        <a href="{{ MASTODON }}" target="_blank"><div class="icon-mastodon icon"></div></a>
                        {% endif %}
                    </div>
                    <p>&copy; 2015-2024 {{ AUTHOR }}</p>
                    <p><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">creative commons by-nc-sa 4.0</a></p>
                    <p><a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a></p>
                </footer>
            {% endblock footer %}
        </div>
</body>
</html>
