{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% endif %}

  {% for tag in page.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block twittercard %}
{% if page.cover_image %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ SITEURL }}/images/{{ page.cover_image }}">
<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
{% elif LOGO %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ SITEURL }}/static/icons/{{ LOGO }}">
{% endif %}
<meta name="twitter:site" content="{{ TWITTER_USERNAME }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
{% endblock twittercard %}
<!-- OG Tags -->
{% block ogtags %}
<meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
<meta property="og:title" content="{{ SITENAME }} | {{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
{% if page.cover_image %}
<meta property="og:image" content="{{ SITEURL }}/images/{{ page.cover_image }}" />
{% endif %}
{% endblock ogtags %}

{% block content %}
  <div class="article" role="article">
    <article>
      {% if page.date %}
        <footer>
            <a id="top"></a>
            <p>
              {{ article.date.strftime('%Y-%m-%d') }}
            </p>
        </footer>
      {% endif %}
        <header>
          <h2>
            {{ page.title }}
          </h2>
        </header>
      <div class="content">
         {{ page.content|safe }}
      </div>
      <div class="back-to-top">
          <a href="#top">back to top</a>
      </div>
    </article>
  </div>
<!-- end article -->
{% endblock content %}