{% extends "base.html" %}
{% block ogtags %}
<meta property="og:url" content="{{ SITEURL }}/tag/{{ tag }}"/>
<meta property="og:title" content="{{ SITENAME }} | {{ tag }}" />
{% endblock ogtags %}
{% block content %}
<div class="page-title">
    <h1>{{ tag }}</h1>
</div>
{% include 'article_list.html' %}
{% endblock content %}