.icon-github {
	background-image: url('png/github.png');
	background-repeat: no-repeat;
}

.icon-gitlab {
	background-image: url('png/gitlab.png');
	background-repeat: no-repeat;
}

.icon-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}

.icon-keybase {
	background-image: url('png/keybase.png');
	background-repeat: no-repeat;
}

.icon-mastodon {
	background-image: url('png/mastodon.png');
	background-repeat: no-repeat;
}
